Date: Tue, 26 Nov 1996 19:14:18 GMT
Server: NCSA/1.5.1
Content-type: text/html

<html>
<TITLE>EECS/CS 183 Home Page</TITLE>

<body>

<BODY BGCOLOR="#FFFFFF" TEXT="#0009c" LINK="#FF00FF" VLINK="#238E23"
ALINK="#FF0000">

<H1>EECS/CS 183</H1>
<H1>Elementary Programming Concepts</H1>

EECS/CS 183 is an introductory course in computer programming for
non-majors.  Starting in the Fall 1996 semester, we will use the C++
programming language. 
<p>
Pre-requisites: none
<p>

<p>
Current Instructor: <!WA0><a
href="http://www-personal.umich.edu/~arford/">Ann Ford</a>
<p>
E-mail: <!WA1><a href="mailto:arford@umich.edu">arford@umich.edu</a>
<p>

<pre>
Graduate Student Instructors:
  Phillip Jewell            E-mail: <!WA2><a
        href="mailto:pjewell@umich.edu">pjewell@umich.edu</a>

  Greg Lewis                E-mail: <!WA3><a
        href="mailto:gregl@umich.edu">gregl@umich.edu</a>

  Baheer Rajalingam         E-mail: <!WA4><a
        href="mailto:baheer@umich.edu">baheer@umich.edu</a>

  Christopher Wong          E-mail: <!WA5><a
        href="mailto:chrisv@umich.edu">chrisv@umich.edu</a>
</pre>
<p>

This course is not intended for majors in Computer Science or Computer
Engineering, and as of Fall term 1997, will not serve as a pre-requisite
for EECS/CS 280.  Concentrators and those who wish to take 280 must take
EECS/CS 100 as the pre-requisite. 

<p>
<h3>More Information on EECS/CS 183</h3>

<li> <!WA6><a href="http://www-personal.umich.edu/~arford/183.info.html
">General Course Information</a>

<li> <!WA7><a href="http://www-personal.umich.edu/~arford/183.office.hours.html
">Office Hours</a>

<li> <!WA8><a href="http://www-personal.umich.edu/~arford/183.discussions.html
">Discussion Sections</a>

<li> <!WA9><a href="http://www-personal.umich.edu/~arford/183.lecture.notes.html
">Lecture Notes</a>

<li> <!WA10><a href="http://www-personal.umich.edu/~arford/183.finalInfo.html
">Final Exam Information</a>

<p>
<h3>Information on the Computer Science Concentration</h3>

<li> <!WA11><a href="http://www.cs.umich.edu/">Computer Science & Engineering 
Home Page</a>

</body>
</html>
